<main>
  <div class="container my-3">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header bg-dark  text-white">
            <h3>user search</h3>
          </div>
          <div class="card-body" ng-init="initEvent()">
            <form class="form-inline">
              <div class="form-group">
                <input size="40" type="search" class="form-control" placeholder="github-user" #users>
              </div>
              <div>
                <input type="submit" value="search" (click)='searchUser(users.value)' class="btn btn-secondary btn-sm">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="{{user.avatar}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{user.name}}</h5>
          <p>{{user.name}}</p>
          <p class="card-text">{{user.bio}}</p>
          <a href="#" class="btn primary d-block" appColor>Edit Profile</a>
          <i class="fa fa-users" aria-hidden="true"></i>{{user.followers}} followers <b>.</b> {{user.following}}
          following
          <p>Created on: {{user.dateCreated |date}}</p>
          {{user.dateCreated |dateCount}}
        </div>
      </div>
    </div>

    <!-- <div class="col-md-8 flexing"> -->
    <h4>Popular repositories</h4>
    <div *ngFor='let repos of userService.repo' class="col-4 card">
      <div class="card">
        <div class="card mb-3">
          <h5 class="card-title text-primary">Name: {{repos.name}}</h5>
          <p class="card-text">Description: {{repos.description}}</p>
          <a href="{{repos.html_url}}" target="_blank"><button class="btn btn-primary text-center">View
              Repo</button></a>
        </div>
      </div>


    </div>
  </div>

  <!-- {{user.name}}
<img src="{{user.avatar}}" alt="">
{{user.bio}}
{{user.repos}}
{{user.followers}}
{{user.following}}
{{user.dateCreated |date}} -->
</main>
