<nav class="navbar navbar-dark bg-dark navbar-expand-sm">
  <a href="" class="navbar-brand"><i class="fa fa-github" aria-hidden="true"></i>Github Search</a>
</nav>

<div class="container mt-3">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header bg-dark  text-white">
          <h3>user search</h3>
        </div>
        <div class="card-body">
          <form class="form-inline">
            <div class="form-group">
              <input size="40" type="search" class="form-control" placeholder="github-user" #users>
            </div>
            <div>
              <input type="submit" value="search" (click)='searchUser(users.value)' class="btn btn-secondary btn-sm">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{{user.name}}
<img src="{{user.avatar}}" alt="">
{{user.bio}}
{{user.repos}}
{{user.followers}}
{{user.following}}
{{user.dateCreated |date}}
